header {
  width: 100%;
  height: 25%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
}

.background-container {
  position: relative;
  overflow: hidden;
}

.background-container img {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.65;
    z-index: -1;

}

body {
  width: 100%;
  height: 65%;
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 200px;
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 30px;
}


footer {
  width: 100%;
  height: 10%;
  position: fixed;
  left:0px;
  bottom:10px;
  height:30px;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px #3D9945;
  font-size: 20px;
}

div.container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

h1.logo {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 75px;
  text-align: center;
  color: #4414CC;
  text-shadow: 1px 1px 2px #14CC23;
}

footer.footer-items {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #A540FF;
  font-size: 10px;
  position: absolute;
}

a {
  color: #4414CC;
}

h2 {
    text-shadow: 1px 1px 2px #3D9945;
}

h4 {
  text-align: center;
  position: relative;
  right: 28px;
  font-size: 10px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

div.haiku {
  text-align: center;
  padding-bottom: 50px;
}

#newHaikuForm {
  position: relative;
  text-shadow: 1px 1px 2px #3D9945;
}

.button {
  display: inline-block;
  font-family: 'Merriweather', serif;
  position: relative;
  left: 128px;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4414CC;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #3D9945;
}

.button:hover {background-color: black}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
