<!DOCTYPE html>
<html lang="en">
<head>
 <title>Haikuna-Matata</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='javascript/app.js')}}"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico" rel="stylesheet">

</head>
<body>
  <div class="background-container">
    <img src="https://c1.staticflickr.com/6/5168/5339976848_704053fc92_b.jpg">
  </div>
  <header>
    <div class="logo-container">
      <h1 class="logo">Haikuna-Matata</h1>
    </div>
  </header>
  <div class="container">
    {% block body %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <div class='footer-container'>
      <div class='footer-items'><a href="https://github.com/hollabaq86/haikuna-matata">About</a> | <a href="https://haikuna-matata.herokuapp.com/">Home</a> </div>
      <div class="credits">
        <h4>
          Credit to Flickr user K-ryu for the <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">photo</a>
        </h4>
      </div>
    </div>
  </footer>
</body>
</html>
